*{      
    padding: 0;
    margin: 0;
}
.circle{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 180px;
    width: 380px;
    margin-left: -190px;
    margin-top:-90px;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
    position: absolute;
    height:100px;
    width: 100px;
    border:10px solid black  ;
    border-radius: 50%;    
}
.circle1{
    left: 0;
    top: 0;
    border-color:red ;
    z-index: 2;
    
}
.circle2{
    border-color: green;
    left: 130px; 
    z-index: 2;
}
.circle3{
    border-color: yellow;
    left: 260px;
    z-index: 2;
}
.circle4{
    border-color: blueviolet;
    top:60px;
    left: 65px;
    z-index: 3;
}
.circle5{
    border-color: brown;
    top: 60px;
    left:190px;
    z-index: 3;
}









